* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-image: url('https://wallpapermemory.com/uploads/366/light-blue-background-full-hd-1080p-431953.jpg');
	background-size: cover;
	background-attachment: fixed;
}
.title {
	font-family: 'Raleway', sans-serif;
	font-size: 5em;
	text-align: center;
	margin-top: 10vh;
	color: white;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/* search parameters */
.container .searchBox {
	margin-top: 10vh;
	font-family: 'Poppins', sans-serif;
}
.searchBox input {
	background: rgba(255, 255, 255);
	border: none;
	border-radius: 22px;
	font-size: 1.5rem;
	text-align: center;
	padding: 10px 2px;
}
.searchBox .search {
	margin-left: 0.5rem;
	background: transparent;
	font-size: 1rem;
	border: none;
	cursor: pointer;
}
.search {
	outline: none;
}
.search i {
	color: white;
}
.search i:hover {
	color: rgb(0, 132, 255);
}
::placeholder {
	color: black;
	opacity: 0.5;
}
.inputValue:focus {
	border: none;
	outline: none;
}
/*  results*/
.result {
	margin-top: 4vh;
	font-family: 'Poppins', sans-serif;
	display: none;
	font-size: 1.2rem;
	margin-right: 20px;
	padding: 2rem;
	border-radius: 1rem;
	background: #b8d3fb;
}

.result .name {
	font-size: 3rem;
}
.result .icon {
	width: 12vh;
	height: 12vh;
}

/* media queries */

@media screen and (max-width: 600px) {
	body {
		background-image: url('https://img.wallpapersafari.com/desktop/1680/1050/27/65/ReNhqr.png');
		background-size: cover;
		background-attachment: fixed;
	}
	body .title {
		color: #5d5d84;
	}
	.searchBox input {
		width: 80%;
	}
}
