@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.logo {
	display: flex;
	height: 15vh;
	width: 100%;
	justify-content: center;
	text-transform: uppercase;
	align-items: center;
	text-decoration: none;
	color: #000;
	font-size: 2rem;
	font-family: "Righteous", cursive;
}

main {
	height: 75vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container {
	display: flex;
}
.container div {
	margin: 0.5rem;
}
.container .inputValue {
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 14px;
	padding: 0.5rem 1.3rem;
	background: transparent;
	outline: none;
	text-align: center;

	font-family: "Poppins", sans-serif;
	font-size: 1rem;
}
.container .search {
	font-family: "Poppins", sans-serif;
	background: #4d4b9d;
	color: #fff;

	border-radius: 16px;
	border: none;
	outline: none;
	padding: 0.5rem 1rem;
	letter-spacing: 0.1rem;
	font-size: 1rem;
}

::placeholder {
	align-items: center;
	text-align: center;
	letter-spacing: 0.085em;
	color: #2f2d2d;
}

.search:hover {
	cursor: pointer;
}

.result {
	display: flex !important;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	justify-content: space-around;

	height: 60vh;
}
.name {
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	font-size: 2rem;
}
.desc {
	font-family: "Poppins", sans-serif;
	font-weight: normal;
	font-size: 1.2rem;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.temp {
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	font-size: 3rem;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer {
	display: grid;
	place-items: center;
	text-align: center;
	height: 10vh;
	width: 100%;
	font-size: 1.1rem;
	background: #212121;
	color: #fff;
}

@media screen and (max-width: 768px) {
	body {
		display: flex;
		flex-direction: column;
	}
}
@media screen and (max-width: 470px) {
	.container .inputValue,
	footer {
		font-size: 0.8rem;
	}
	.container .search,
	footer {
		font-size: 0.8rem;
	}
}
@media screen and (max-width: 390px) {
	.container {
		flex-direction: column;
		align-items: center;
	}
}
